<div class="gap-4 grid grid-cols-4">
    <div>
        <span>{{ transaction.name }}</span>
    </div>
    <div>
        <span>{{ transaction.category }}</span>
    </div>
    <div>
        <span>{{ transaction.amount }}</span>
    </div>
    {% if not hide_buttons %}
        <div>
            <div class="flex justify-around">
                <span>
                    <a
                        hx-trigger="click"
                        hx-get="{% url 'edit-transaction-form' transaction_id=transaction.id %}"
                        hx-target="#transaction-{{ transaction.id }}"
                    >
                        📝
                        Edit
                    </a>
                </span>
                <span>
                    <a
                        hx-trigger="click"
                        hx-get="{% url 'delete-transaction-form' transaction_id=transaction.id %}"
                        hx-target="#transaction-{{ transaction.id }}"
                    >
                        🗑️
                        Delete
                    </a>
                </span>
            </div>
        </div>
    {% endif %}
</div>