<div id="new-{{ transaction_type }}-form">
    <form
        hx-post="{% url 'transaction' %}"
        hx-target="#new-{{ transaction_type }}-form"
    >

        <input name="transaction_type" type="hidden" value="{{ transaction_type }}">

        <div class="gap-4 grid grid-cols-4">
            <div>
                <label>Name</label> <br />
                <input class="dark:bg-gray-700 border-2 border-gray-500 focus:border-gray-300 rounded-md w-full" type="text" name="name" required>
            </div>
            <div>
                <label>Category</label> <br />
                <select class="dark:bg-gray-700 border-2 border-gray-500 focus:border-gray-300 rounded-md w-full" type="text" name="category">
                    {% for category in categories %}
                        <option>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Amount</label> <br />
                <input class="dark:bg-gray-700 border-2 border-gray-500 focus:border-gray-300 rounded-md w-full" type="number" name="amount">
            </div>
            <div>
                <div class="flex justify-around">
                    <span>
                        Submit<br />
                        <button
                            type="submit"
                        >
                            💾
                    </button>
                    </span>
                    <span>
                        Cancel<br />
                        <a
                            hx-trigger="click"
                            hx-target="#new-{{ transaction_type }}-form"
                            hx-get="{% url 'add-new-transaction-button' transaction_type=transaction_type %}"
                        >
                            ❌
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>